.header {
    background-image: url('../img/background.png');

}
.main-informations{
    background-image: url('../img/background.png');

}

.experience {
    background-image: url('../img/background.png');

}
.traits {
    background-image: url('../img/background.png');

}

.aversions {
    background-image: url('../img/background.png');

}

.peculiarities {
    background-image: url('../img/background.png');

}

.possessions{
    background-image: url('../img/background.png');
}
.contacts{
    background-image: url('../img/background.png');
}
.diary{
    background-image: url('../img/background.png');
}